<div
  class="container mt-5"
  id="container"
  [ngClass]="{ 'right-panel-active': isSignUp }"
>
  <div class="form-container sign-in-container">
    <form
      (submit)="login($event, email.value, password.value)"
      #loginForm="ngForm"
    >
      <h1>{{ "auth.sign_in.title" | translate }}</h1>
      <input
        type="email"
        #email="ngModel"
        ngModel
        name="loginEmail"
        placeholder="{{ 'auth.sign_in.email_placeholder' | translate }}"
        required
        email
      />
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="small-error"
      >
        <small *ngIf="email.errors?.['required']">{{
          "auth.sign_in.email_required" | translate
        }}</small>
        <small *ngIf="email.errors?.['email']">{{
          "auth.sign_in.email_invalid" | translate
        }}</small>
      </div>
      <div class="password-container">
        <input
          [type]="showLoginPassword ? 'text' : 'password'"
          #password="ngModel"
          ngModel
          name="password"
          placeholder="{{ 'auth.sign_in.password_placeholder' | translate }}"
          required
          minlength="6"
        />
        <button type="button" (click)="toggleLoginPasswordVisibility()">
          <i
            class="fa"
            [ngClass]="showLoginPassword ? 'fa-eye-slash' : 'fa-eye'"
          ></i>
        </button>
      </div>
      <div
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="small-error"
      >
        <small *ngIf="password.errors?.['required']">{{
          "auth.sign_in.password_required" | translate
        }}</small>
        <small *ngIf="password.errors?.['minlength']">{{
          "auth.sign_in.password_minlength" | translate
        }}</small>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">
        {{ "auth.sign_in.submit" | translate }}
      </button>
      <!-- Language Dropdown with Adjusted Container -->
      <div class="language-select-container">
        <select (change)="switchLanguage($event)" class="language-select">
          <option value="en">{{ "auth.language.english" | translate }}</option>
          <option value="es">{{ "auth.language.spanish" | translate }}</option>
          <option value="hi">{{ "auth.language.hindi" | translate }}</option>
        </select>
      </div>
    </form>
  </div>

  <div class="form-container sign-up-container">
    <form [formGroup]="registerForm">
      <strong style="font-size: 30px">{{
        "auth.sign_up.title" | translate
      }}</strong>
      <input
        type="text"
        formControlName="name"
        placeholder="{{ 'auth.sign_up.name_placeholder' | translate }}"
        (input)="validateName()"
      />
      <div
        *ngIf="
          registerForm.get('name')?.invalid && registerForm.get('name')?.touched
        "
        class="small-error"
      >
        <small *ngIf="registerForm.get('name')?.errors?.['required']">{{
          "auth.sign_up.name_required" | translate
        }}</small>
        <small *ngIf="registerForm.get('name')?.errors?.['nombreInvalido']">{{
          "auth.sign_up.name_invalid" | translate
        }}</small>
      </div>
      <input
        type="email"
        formControlName="email"
        placeholder="{{ 'auth.sign_up.email_placeholder' | translate }}"
      />
      <div
        *ngIf="
          registerForm.get('email')?.invalid &&
          registerForm.get('email')?.touched
        "
        class="small-error"
      >
        <small *ngIf="registerForm.get('email')?.errors?.['required']">{{
          "auth.sign_up.email_required" | translate
        }}</small>
        <small *ngIf="registerForm.get('email')?.errors?.['correoInvalido']">{{
          "auth.sign_up.email_invalid" | translate
        }}</small>
      </div>
      <div class="password-container">
        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="{{ 'auth.sign_up.password_placeholder' | translate }}"
        />
        <button type="button" (click)="togglePasswordVisibility()">
          <i
            class="fa"
            [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
          ></i>
        </button>
      </div>
      <div
        *ngIf="
          registerForm.get('password')?.invalid &&
          registerForm.get('password')?.touched
        "
        class="small-error"
      >
        <small *ngIf="registerForm.get('password')?.errors?.['required']">{{
          "auth.sign_up.password_required" | translate
        }}</small>
        <small *ngIf="registerForm.get('password')?.errors?.['minlength']">{{
          "auth.sign_up.password_minlength" | translate
        }}</small>
      </div>
      <input
        type="text"
        formControlName="phone"
        placeholder="{{ 'auth.sign_up.phone_placeholder' | translate }}"
        minlength="10"
        maxlength="10"
        (input)="validatePhone($event)"
      />
      <div
        *ngIf="
          registerForm.get('phone')?.invalid &&
          registerForm.get('phone')?.touched
        "
        class="small-error"
      >
        <small *ngIf="registerForm.get('phone')?.errors?.['required']">{{
          "auth.sign_up.phone_required" | translate
        }}</small>
        <small
          *ngIf="registerForm.get('phone')?.errors?.['minlength'] || registerForm.get('phone')?.errors?.['maxlength']"
          >{{ "auth.sign_up.phone_invalid" | translate }}</small
        >
      </div>
      <input
        type="date"
        formControlName="birthdate"
        placeholder="{{ 'auth.sign_up.birthdate_placeholder' | translate }}"
      />
      <div
        *ngIf="
          registerForm.get('birthdate')?.invalid &&
          registerForm.get('birthdate')?.touched
        "
        class="small-error"
      >
        <small *ngIf="registerForm.get('birthdate')?.errors?.['required']">{{
          "auth.sign_up.birthdate_required" | translate
        }}</small>
        <small *ngIf="registerForm.get('birthdate')?.errors?.['minimumAge']">{{
          "auth.sign_up.birthdate_min_age" | translate
        }}</small>
      </div>
      <select formControlName="province" required>
        <option value="">
          {{ "auth.sign_up.select_province" | translate }}
        </option>
        <option *ngFor="let province of provinces" [value]="province.id">
          {{ province.name }}
        </option>
      </select>
      <div
        *ngIf="
          registerForm.get('province')?.invalid &&
          registerForm.get('province')?.touched
        "
        class="small-error"
      >
        <small>{{ "auth.sign_up.province_required" | translate }}</small>
      </div>
      <select formControlName="gender" required>
        <option value="">{{ "auth.sign_up.select_gender" | translate }}</option>
        <option *ngFor="let gender of genders" [value]="gender.id">
          {{ gender.gender }}
        </option>
      </select>
      <div
        *ngIf="
          registerForm.get('gender')?.invalid &&
          registerForm.get('gender')?.touched
        "
        class="small-error"
      >
        <small>{{ "auth.sign_up.gender_required" | translate }}</small>
      </div>
      <button type="submit">{{ "auth.sign_up.submit" | translate }}</button>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>{{ "auth.overlay.welcome_back" | translate }}</h1>
        <p>{{ "auth.overlay.sign_in_prompt" | translate }}</p>
        <button class="ghost" (click)="showSignIn()">
          {{ "auth.overlay.sign_in" | translate }}
        </button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>{{ "auth.overlay.hello_friend" | translate }}</h1>
        <p>{{ "auth.overlay.register_prompt" | translate }}</p>
        <button class="ghost" (click)="showSignUp()">
          {{ "auth.overlay.register" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
